sudo: false

language: go

go:
  - 1.8.x
  - 1.9.x
  - 1.10.x
  - 1.11.x
  - tip

matrix:
  fast_finish: true
  allow_failures:
    - go: tip

install: true

script:
  - env GOPATH=$PWD go install -v gosublime/cmd/margo
